@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: local("Pretendard Black"), url(./fonts/Pretendard-Black.woff2) format("woff2"),
    url(./fonts/Pretendard-Black.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: local("Pretendard ExtraBold"), url(./fonts/Pretendard-ExtraBold.woff2) format("woff2"),
    url(./fonts/Pretendard-ExtraBold.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: local("Pretendard Bold"), url(./fonts/Pretendard-Bold.woff2) format("woff2"),
    url(./fonts/Pretendard-Bold.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local("Pretendard Regular"), url(./fonts/Pretendard-Regular.woff2) format("woff2"),
    url(./fonts/Pretendard-Regular.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: local("Pretendard Light"), url(./fonts/Pretendard-Light.woff2) format("woff2"),
    url(./fonts/Pretendard-Light.woff2) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: local("Pretendard Thin"), url(./fonts/Pretendard-Thin.woff2) format("woff2"),
    url(./fonts/Pretendard-Thin.woff2) format("woff");
}
html,
body {
  height: 100%;
  letter-spacing: -0.25px;
  color: #1e1f24;
}
body {
  font-family: "Pretendard";
}
.hidden {
  display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

/* 아이폰 스타일 */
.iphone input {
  /* 아이폰에서의 스타일 */
  color: blue; /* 아이폰에서의 예시 스타일 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* 안드로이드 스타일 */
.android input {
  /* 안드로이드에서의 스타일 */
  color: red; /* 안드로이드에서의 예시 스타일 */
  appearance: block;
  -webkit-appearance: block;
  -moz-appearance: block;
}
