#wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  #header {
    border-bottom: 1px solid #eee;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    position: relative;
    color: #1e1f24;
    .page__name {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: 600;
    }
    button {
      display: flex;
      align-items: center;
    }
  }
  main {
    height: 100vh;
    padding: 32px 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      width: 100%;
      background-color: #0923a9;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 18px 0;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
    }
    .contant__desc {
      .page__title {
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 6px;
        letter-spacing: -0.5px;
      }
      p {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        word-break: keep-all;
        letter-spacing: 0;
        color: #6b6c70;
      }
    }
    .form__wrap {
      .form__data {
        margin-bottom: 18px;
        padding-bottom: 12px;
        border-bottom: 1px solid #c8c8c8;
        h3 {
          font-size: 18px;
          font-weight: bold;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        .input__info {
          font-size: 12px;
          padding-left: 12px;
          padding-top: 6px;
          color: #1e1f24;
          font-weight: bold;
        }
      }
      .form__flex > span {
        display: flex;
        width: 100%;
        gap: 0.35rem;
        input {
          width: 100%;
          height: auto;
          padding: 12px;
        }
        button {
          margin: 0;
          width: 24%;
          padding: 8px 0;
          background: #1e1f24;
        }
      }
      label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      form input {
        padding: 14px 12px;
        font-size: 16px;
        border: none;
        background-color: #f5f5f5;
        border-radius: 0 !important;
        outline: none;
        color: #1e1f24;
        &::placeholder {
          color: #1e1f24;
          font-size: 14px;
        }
      }
      .form__address > input {
        margin-bottom: 6px;
      }
      .form__address > span {
        display: flex;
        gap: 0.35rem;
        margin-bottom: 6px;
        input {
          width: 100%;
        }
        button {
          margin: 0;
          width: 30%;
          padding: 12px 0;
          background: #1e1f24;
        }
      }
    }
    .company_form {
      border-top: 1px solid #c8c8c8;
      padding-top: 18px;
    }
    .check__box {
      .form__data.active {
        h3 > i {
          transform: rotate(180deg);
        }
      }
      #payment__open_btn {
        margin-bottom: 10px;
        cursor: pointer;
        h3 {
          display: flex;
          align-items: center;
          gap: 0.35rem;
          i {
            display: flex;
            align-items: center;
            transition: all 0.5s;
          }
        }
      }
      #paymentForm {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin: 14px 0;
        label {
          display: flex;
          align-items: center;
          gap: 0.35rem;
          input[type="radio"] {
            width: 12px;
            height: 12px;
          }
        }
      }
      #pay__menu {
        #Card__number {
          width: 100%;
          border: none;
          outline: none;
          padding: 12px 6px;
          border-bottom: 1px solid #c8c8c8;
          margin-bottom: 14px;
          &::placeholder {
            font-size: 14px;
            color: #1e1f24;
          }
        }
        .datepiker {
          h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 12px;
          }
          .card__dete {
            display: flex;
            gap: 0.35rem;
            select {
              width: 50%;
              border: none;
              background-color: #f5f5f5;
              color: #1e1f24;
              outline: none;
              padding: 14px 8px;
              font-size: 14px;
            }
          }
          button {
            background-color: #0923a9;
            margin-top: 0.35rem;
          }
          .effectiveness_info {
            margin: 12px 0;
            display: flex;
            align-items: flex-start;
            gap: 0.35rem;
            label {
              margin-bottom: 0;
              line-height: 20px;
              input[type="checkbox"] {
                width: 15px;
                height: 15px;
              }
            }
            p {
              font-size: 14px;
              line-height: 20px;
              color: #1e1f24;
              word-break: keep-all;
            }
          }
        }
      }
      #consentForm {
        padding-top: 20px;
        border-top: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
        .consent__title {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 8px;
        }
        .radio_checkbox_wrap {
          margin-bottom: 14px;
        }
      }
      .consent__checkbox {
        margin: 0 0 12px 0;
        ul {
          margin-top: 14px;
          display: flex;
          gap: 1rem;
          li > label {
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 0.2rem;
            margin-bottom: 10px;
            font-weight: normal;
          }
        }
      }
    }
    .result__wrap {
      display: flex;
      gap: 0.35rem;
      padding-bottom: 24px;
      #clear_btn {
        background: none;
        border: 1px solid #1e1f24;
        color: #1e1f24;
      }
    }
    #bankTransferMenu {
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 12px;
      }
      .select-box {
        .select-label {
          margin-bottom: 0;
          border-radius: 0;
          border-bottom: 1px solid #c8c8c8;
        }
      }
      .effectiveness_info {
        margin: 12px 0;
        display: flex;
        align-items: flex-start;
        gap: 0.35rem;
        p {
          font-size: 14px;
          line-height: 20px;
          color: #1e1f24;
          word-break: keep-all;
        }
      }
    }
  }
}
