#wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  header {
    border-bottom: 1px solid #eee;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    position: relative;
    color: #1e1f24;
    .page__name {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      font-size: 18px;
      font-weight: 600;
    }
  }
  main {
    height: 100vh;
    padding: 32px 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      width: 100%;
      background-color: #0923a9;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 18px 0;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
    }
    .contant__desc {
      .page__title {
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 6px;
        letter-spacing: -0.5px;
      }
      p {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        word-break: keep-all;
        letter-spacing: 0;
      }
    }
  }
}
