#wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
#wrapper #header {
  border-bottom: 1px solid #eee;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  position: relative;
  color: #1e1f24;
}
#wrapper #header .page__name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
  display: flex;
}
#wrapper #header button {
  display: flex;
  align-items: center;
}
#wrapper main {
  height: 100vh;
  padding: 48px 24px 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#wrapper main button {
  width: 100%;
  height: 54px;
  background-color: #0923a9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 18px 0;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
#wrapper main .contant__desc .contant__bage {
  background-color: #0923a9;
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 48px;
  font-size: 14px;
  margin-bottom: 18px;
  font-weight: bold;
}
#wrapper main .contant__desc .page__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}
#wrapper main .contant__desc p {
  font-size: 16px;
  line-height: 22px;
  word-break: keep-all;
  color: #6b6c70;
}
#wrapper main .form__wrap .form__data {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #c8c8c8;
}
#wrapper main .form__wrap .form__data h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 40px;
}
#wrapper main .form__wrap .form__data p {
  font-size: 15px;
}
#wrapper main .form__wrap form {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
#wrapper main .form__wrap .form__flex #change__number_wrap {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  margin-top: 0.35rem;
  display: none;
}
#wrapper main .form__wrap .form__flex #change__number_wrap.active {
  display: block;
}
#wrapper main .form__wrap .form__flex > span {
  display: flex;
  width: 100%;
  gap: 0.35rem;
}
#wrapper main .form__wrap .form__flex > span input {
  width: 100%;
  height: 54px;
  padding: 12px;
}
#wrapper main .form__wrap .form__flex > span button {
  margin: 0;
  width: 24%;
  padding: 8px 0;
  background: #1e1f24;
  font-weight: normal;
}
#wrapper main .form__wrap label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 12px;
}
#wrapper main .form__wrap form input {
  padding: 14px 12px;
  font-size: 16px;
  height: 54px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 0 !important;
  outline: none;
  color: #1e1f24;
}
#wrapper main .form__wrap form input::-moz-placeholder {
  color: #1e1f24;
  font-size: 14px;
}
#wrapper main .form__wrap form input::placeholder {
  color: #1e1f24;
  font-size: 14px;
}
#wrapper main .form__wrap .form__address > input {
  margin-bottom: 6px;
  height: 54px;
}
#wrapper main .form__wrap .form__address > span {
  display: flex;
  gap: 0.35rem;
  margin-bottom: 6px;
}
#wrapper main .form__wrap .form__address > span input {
  width: 100%;
  height: 54px;
}
#wrapper main .form__wrap .form__address > span button {
  margin: 0;
  width: 30%;
  padding: 12px 0;
  background: #1e1f24;
  font-weight: normal;
}
#wrapper main .company_form {
  border-top: 1px solid #c8c8c8;
  padding-top: 18px;
}
#wrapper main .check__box .form__data.active h3 > i {
  transform: rotate(180deg);
}
#wrapper main .check__box #payment__open_btn {
  margin-bottom: 10px;
  cursor: pointer;
}
#wrapper main .check__box #payment__open_btn h3 {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}
#wrapper main .check__box #payment__open_btn h3 i {
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
#wrapper main .check__box #paymentForm {
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0;
}
#wrapper main .check__box #paymentForm label {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 15px;
  border: 1px solid #c8c8c8;
  padding: 14px 10px;
  margin-bottom: 0;
  font-weight: normal;
}
#wrapper main .check__box #pay__menu #Card__number {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  padding: 12px 6px;
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 24px;
  font-size: 16px;
}
#wrapper main .check__box #pay__menu #Card__number::-moz-placeholder {
  font-size: 14px;
  color: #1e1f24;
}
#wrapper main .check__box #pay__menu #Card__number::placeholder {
  font-size: 14px;
  color: #1e1f24;
}
#wrapper main .check__box #pay__menu .datepiker h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
#wrapper main .check__box #pay__menu .datepiker .card__dete {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}
#wrapper main .check__box #pay__menu .datepiker .card__dete span {
  font-size: 24px;
  color: #1e1f24;
}
#wrapper main .check__box #pay__menu .datepiker .card__dete select {
  width: 50%;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  color: #1e1f24;
  outline: none;
  padding: 14px 8px;
  font-size: 14px;
  height: 54px;
  font-weight: bold;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}
#wrapper main .check__box #pay__menu .datepiker button {
  background-color: #0923a9;
  margin-top: 1rem;
}
#wrapper main .check__box #pay__menu .datepiker .effectiveness_info {
  margin: 12px 0;
  display: flex;
  align-items: flex-start;
  gap: 0.35rem;
}
#wrapper main .check__box #pay__menu .datepiker .effectiveness_info label {
  margin-bottom: 0;
  line-height: 20px;
}
#wrapper main .check__box #pay__menu .datepiker .effectiveness_info label input[type=checkbox] {
  width: 16px;
  height: 16px;
}
#wrapper main .check__box #pay__menu .datepiker .effectiveness_info p {
  font-size: 14px;
  line-height: 20px;
  color: #1e1f24;
  word-break: keep-all;
}
#wrapper main .check__box #consentForm {
  padding-top: 20px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  margin-top: 20px;
}
#wrapper main .check__box #consentForm .consent__title {
  font-size: 15px;
  font-weight: bold;
}
#wrapper main .check__box #consentForm .radio_checkbox_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#wrapper main .check__box .consent__checkbox ul {
  display: flex;
  gap: 0.5rem;
}
#wrapper main .check__box .consent__checkbox ul li > label {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 0.2rem;
  font-weight: normal;
  margin-bottom: 0;
}
#wrapper main .result__wrap {
  display: flex;
  gap: 0.35rem;
  padding-bottom: 24px;
}
#wrapper main .result__wrap #clear_btn {
  background: none;
  border: 1px solid #1e1f24;
  color: #1e1f24;
}
#wrapper main #bankTransferMenu {
  margin-top: 30px;
}
#wrapper main #bankTransferMenu .select-box {
  margin-bottom: 8px;
}
#wrapper main #bankTransferMenu #bank__number {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  padding: 12px 6px;
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 1rem;
  font-size: 16px;
}
#wrapper main #bankTransferMenu #bank__number::-moz-placeholder {
  font-size: 14px;
}
#wrapper main #bankTransferMenu #bank__number::placeholder {
  font-size: 14px;
}
#wrapper main #bankTransferMenu h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}
#wrapper main #bankTransferMenu .select-box {
  margin-bottom: 0;
}
#wrapper main #bankTransferMenu .select-box .select-label {
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: 1px solid #c8c8c8;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 0.5rem;
}
#wrapper main #bankTransferMenu .effectiveness_info {
  margin: 12px 0;
  display: flex;
  align-items: flex-start;
  gap: 0.35rem;
}
#wrapper main #bankTransferMenu .effectiveness_info p {
  font-size: 14px;
  line-height: 20px;
  color: #1e1f24;
  word-break: keep-all;
}
#wrapper .warning__layout {
  overflow-y: hidden;
}
#wrapper .warning__layout .null__desc p {
  padding-bottom: 12px;
}
#wrapper .warning__layout .null__desc input {
  width: 100%;
  height: 54px;
  padding: 12px;
  outline: none;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  font-size: 20px;
}
#wrapper .warning__layout .null__desc input::-moz-placeholder {
  letter-spacing: 0;
  color: #1e1f24;
  font-size: 16px;
}
#wrapper .warning__layout .null__desc input::placeholder {
  letter-spacing: 0;
  color: #1e1f24;
  font-size: 16px;
}
#wrapper .warning__layout #warning__model {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  visibility: hidden;
  left: 0;
  bottom: 0;
}
#wrapper .warning__layout #warning__model.active {
  visibility: visible;
}
#wrapper .warning__layout #warning__model.active .model {
  visibility: visible;
  transition: all 0.5s;
  height: 45vh;
}
#wrapper .warning__layout .model {
  position: absolute;
  bottom: 0;
  padding: 12px 24px 28px;
  height: 0;
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#wrapper .warning__layout .model #model__close {
  position: absolute;
  background: #eee;
  right: 24px;
  top: 16px;
  width: auto;
  padding: 0;
  border-radius: 24px;
  z-index: 100;
  width: 28px;
  height: 28px;
}
#wrapper .warning__layout .warning__text {
  position: relative;
  padding-top: 34px;
}
#wrapper .warning__layout h3 {
  font-size: 24px;
  margin-bottom: 8px;
  line-height: 28px;
}
#wrapper .warning__layout p {
  word-break: keep-all;
  font-size: 14px;
  line-height: 20px;
}
#wrapper .warning__layout .cs_center_number {
  text-align: center;
  background: #0923a9;
  display: block;
  padding: 18px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}/*# sourceMappingURL=style.css.map */