#wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  #header {
    border-bottom: 1px solid #eee;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    position: relative;
    color: #1e1f24;
    .page__name {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: 600;
    }
    button {
      display: flex;
      align-items: center;
    }
  }
  main {
    height: 100vh;
    padding: 32px 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      width: 100%;
      height: 54px;
      background-color: #0923a9;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 18px 0;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
    }
    .contant__desc {
      .page__title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
        letter-spacing: -0.5px;
      }
      p {
        font-size: 16px;
        line-height: 22px;
        word-break: keep-all;
        color: #6b6c70;
      }
    }
    .form__wrap {
      .form__data {
        margin-bottom: 18px;
        padding-bottom: 12px;
        border-bottom: 1px solid #c8c8c8;
        h3 {
          font-size: 18px;
          font-weight: bold;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
      }
      .form__flex {
        #change__number_wrap {
          display: flex;
          flex-direction: column;
          gap: 0.35rem;
          margin-top: 0.35rem;
          display: none;
          &.active {
            display: block;
          }
        }
      }
      .form__flex > span {
        display: flex;
        width: 100%;
        gap: 0.35rem;
        input {
          width: 100%;
          height: 54px;
          padding: 12px;
        }
        button {
          margin: 0;
          width: 24%;
          padding: 8px 0;
          background: #1e1f24;
          font-weight: normal;
        }
      }
      label {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 12px;
      }
      form input {
        padding: 14px 12px;
        font-size: 16px;
        height: 54px;
        border: none;
        background-color: #f1f1f1;
        border-radius: 0 !important;
        outline: none;
        color: #1e1f24;
        &::placeholder {
          color: #1e1f24;
          font-size: 14px;
        }
      }
      .form__address > input {
        margin-bottom: 6px;
        height: 54px;
      }
      .form__address > span {
        display: flex;
        gap: 0.35rem;
        margin-bottom: 6px;
        input {
          width: 100%;
          height: 54px;
        }
        button {
          margin: 0;
          width: 30%;
          padding: 12px 0;
          background: #1e1f24;
          font-weight: normal;
        }
      }
    }
    .company_form {
      border-top: 1px solid #c8c8c8;
      padding-top: 18px;
    }
    .check__box {
      .form__data.active {
        h3 > i {
          transform: rotate(180deg);
        }
      }
      #payment__open_btn {
        margin-bottom: 10px;
        cursor: pointer;
        h3 {
          display: flex;
          align-items: center;
          gap: 0.35rem;
          i {
            display: flex;
            align-items: center;
            transition: all 0.5s;
          }
        }
      }
      #paymentForm {
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        margin-bottom: 0;
        label {
          width: 50%;
          display: flex;
          align-items: center;
          gap: 0.2rem;
          font-size: 15px;
          border: 1px solid #c8c8c8;
          padding: 14px 6px;
          margin-bottom: 0;
        }
      }
      #pay__menu {
        #Card__number {
          width: 100%;
          height: 60px;
          border: none;
          outline: none;
          padding: 12px 6px;
          border-bottom: 1px solid #c8c8c8;
          margin-bottom: 24px;
          font-size: 16px;
          &::placeholder {
            font-size: 14px;
            color: #1e1f24;
          }
        }
        .datepiker {
          h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 12px;
          }
          .card__dete {
            display: flex;
            align-items: center;
            gap: 0.35rem;
            span {
              font-size: 24px;
              color: #1e1f24;
            }
            select {
              width: 50%;
              border: none;
              background-color: #fff;
              border-bottom: 1px solid #c8c8c8;
              color: #1e1f24;
              outline: none;
              padding: 14px 8px;
              font-size: 14px;
              height: 54px;
              font-weight: bold;
              text-align: center;
            }
          }
          button {
            background-color: #0923a9;
            margin-top: 1rem;
          }
          .effectiveness_info {
            margin: 12px 0;
            display: flex;
            align-items: flex-start;
            gap: 0.35rem;
            label {
              margin-bottom: 0;
              line-height: 20px;
              input[type="checkbox"] {
                width: 16px;
                height: 16px;
              }
            }
            p {
              font-size: 14px;
              line-height: 20px;
              color: #1e1f24;
              word-break: keep-all;
            }
          }
        }
      }
      #consentForm {
        padding-top: 20px;
        border-top: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
        margin-top: 20px;
        .consent__title {
          font-size: 16px;
          font-weight: bold;
        }
        .radio_checkbox_wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
        }
      }
      .consent__checkbox {
        ul {
          display: flex;
          gap: 0.5rem;
          li > label {
            display: flex;
            align-items: center;
            font-size: 16px;
            gap: 0.2rem;
            font-weight: normal;
            margin-bottom: 0;
          }
        }
      }
    }
    .result__wrap {
      display: flex;
      gap: 0.35rem;
      padding-bottom: 24px;
      #clear_btn {
        background: none;
        border: 1px solid #1e1f24;
        color: #1e1f24;
      }
    }
    #bankTransferMenu {
      margin-top: 30px;
      .select-box {
        margin-bottom: 8px;
      }
      #bank__number {
        width: 100%;
        height: 60px;
        border: none;
        outline: none;
        padding: 12px 6px;
        border-bottom: 1px solid #c8c8c8;
        margin-bottom: 1rem;
        font-size: 16px;
        &::placeholder {
          font-size: 14px;
        }
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 6px;
      }
      .select-box {
        margin-bottom: 0;
        .select-label {
          margin-bottom: 0;
          border-radius: 0;
          border-bottom: 1px solid #c8c8c8;
          height: 60px;
          display: flex;
          align-items: center;
          font-size: 16px;
          gap: 0.5rem;
        }
      }
      .effectiveness_info {
        margin: 12px 0;
        display: flex;
        align-items: flex-start;
        gap: 0.35rem;
        p {
          font-size: 14px;
          line-height: 20px;
          color: #1e1f24;
          word-break: keep-all;
        }
      }
    }
  }
  //번호인증 실패 시 나타나는데 페이지 "null form"
  .warning__layout {
    overflow-y: hidden;
    .null__desc {
      p {
        padding-bottom: 12px;
      }
      input {
        width: 100%;
        height: 54px;
        padding: 12px;
        outline: none;
        border: none;
        border-bottom: 1px solid #c8c8c8;
        font-size: 20px;
        &::placeholder {
          letter-spacing: 0;
          color: #1e1f24;
          font-size: 16px;
        }
      }
    }
    #warning__model {
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100vh;
      visibility: hidden;
      left: 0;
      bottom: 0;
      &.active {
        visibility: visible;
      }
      &.active .model {
        visibility: visible;
        transition: all 0.5s;
        height: 40vh;
      }
    }
    .model {
      position: absolute;
      bottom: 0;
      padding: 12px 24px 28px;
      height: 0;
      background: #fff;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      #model__close {
        position: absolute;
        background: #eee;
        right: 24px;
        top: 16px;
        width: auto;
        padding: 0;
        border-radius: 24px;
        z-index: 100;
        width: 28px;
        height: 28px;
      }
    }
    .warning__text {
      position: relative;
      padding-top: 34px;
    }
    h3 {
      font-size: 22px;
      margin-bottom: 12px;
    }
    p {
      word-break: keep-all;
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 22px;
    }
    .cs_center_number {
      text-align: center;
      background: #f3f3f3;
      display: block;
      padding: 18px;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
